.jurenites-front-page {
  min-height: 100vh;
  background: var(--component-hero-section-background-edge-color);
}

.homepage-block__heading {
  width: 100%;
  max-width: var(--layout-content-max-wide-default);
  margin-inline: auto;
}

.background-preview {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  isolation: isolate;
  background: var(--color-palette-black);
}

.background-preview > canvas {
  position: absolute;
  inset: 0;
}

.background-preview--particle-attraction > canvas {
  image-rendering: auto;
}
