// Atom: Avatar. Circular image or initials. Sizes map to interactive-size tokens.

@use "../tools";

.avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--component-avatar-corner-radius-default);
  overflow: hidden;
  background: var(--theme-dark-surface-background-elevation-level-1);
  color: var(--theme-dark-text-primary-default);
  //border: var(--shape-border-width-hairline-default) solid var(--theme-dark-border-divider-default);
}

.avatar__image {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.avatar__image > *,
.avatar__image div,
.avatar__image a,
.avatar__image img {
  display: block;
  width: 100%;
  height: 100%;
}

.avatar__image img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.avatar--image-failed .avatar__image {
  display: none;
}

.avatar__initials {
  @include tools.typography-subtitle-2;
}

.avatar--small {
  width: calc(var(--space-scale-base-gap) * 2);
  height: calc(var(--space-scale-base-gap) * 2);
}

.avatar--medium {
  width: calc(var(--space-scale-base-gap) * 3);
  height: calc(var(--space-scale-base-gap) * 3);
}

.avatar--large {
  width: calc(var(--space-scale-base-gap) * 4);
  height: calc(var(--space-scale-base-gap) * 4);
}

.avatar--big {
  width: var(--shape-basic-tile);
  height: var(--shape-basic-tile);
}
