@use "../tools";

.version-watermark {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-scale-two);
  right: var(--space-scale-base-gap);
  bottom: var(--space-scale-base-gap);
  z-index: var(--component-watermark-layer-default);
  color: var(--component-watermark-color-credit-default);
  user-select: none;
  white-space: nowrap;
  @include tools.typography-overline;
}

.version-watermark--story-preview {
  position: absolute;
}

.version-watermark__identity {
  display: inline-flex;
  gap: var(--space-scale-two);
  align-items: baseline;
  color: var(--component-watermark-color-identity-default);
}

.version-git-hash,
.version-watermark__updated-gmt,
.version-watermark__credit {
  color: var(--component-watermark-color-credit-default);
}

.version-git-hash {
  color: var(--theme-dark-text-primary-default);
  font-family: var(--typography-font-family-4pixel);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 1px;
  text-underline-offset: var(--space-scale-two);
  &:hover{ 
    color: var(--theme-dark-text-primary-default);
  }
}
