@use "../tools";

.author-byline {
  display: flex;
  align-items: center;
  gap: calc(var(--space-scale-base-gap) * 2);
  width: 100%;
}

.author-byline__identity {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  gap: var(--space-scale-two);
}

.author-byline__name {
  margin: 0;
  color: var(--theme-dark-text-primary-default);
  @include tools.typography-subtitle-2;
}

.author-byline__name a {
  color: inherit;
}

.author-byline__details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-scale-base-gap);
  color: var(--theme-dark-text-secondary-default);
}

.author-byline__separator {
  color: var(--theme-dark-border-outline-default);
}

.author-byline__topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: calc(var(--space-scale-base-gap) * 0.5);
}

.author-byline__topics .article-tags {
  align-items: flex-end;
}

@include tools.breakpoint-down("mobile-max") {
  .author-byline {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .author-byline__topics {
    flex-basis: 100%;
    justify-content: flex-start;
    padding-left: calc(var(--space-scale-base-gap) * 6);
  }

  .author-byline__topics .article-tags {
    align-items: flex-start;
  }
}
