@use "../tools";

.pull-quote {
  display: flex;
  flex-direction: column;
  gap: calc(var(--space-scale-base-gap) * 2);
  margin: 0;
  padding: calc(var(--space-scale-base-gap) * 3) 0 calc(var(--space-scale-base-gap) * 3) calc(var(--space-scale-base-gap) * 3);
  border-left: var(--shape-border-width-thick-default) solid var(--theme-dark-action-primary-default);
}

.pull-quote__text {
  margin: 0;
  color: var(--theme-dark-text-primary-default);
  @include tools.typography-headline-6;
}

.pull-quote__citation {
  color: var(--theme-dark-text-secondary-default);
  font-style: normal;
  @include tools.typography-caption;
}

@include tools.breakpoint-down("mobile-max") {
  .pull-quote {
    gap: var(--space-scale-base-gap);
    padding: calc(var(--space-scale-base-gap) * 2) 0 calc(var(--space-scale-base-gap) * 2) calc(var(--space-scale-base-gap) * 2);
  }

  .pull-quote__text {
    @include tools.typography-body;
  }
}
