$font-assets-path: "/assets/fonts" !default;

@font-face {
  font-family: "Open Sans";
  src: url("#{$font-assets-path}/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("#{$font-assets-path}/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* why whould we have italic font at the website, was it requeset? im not sure about it
@TODO: lets get rid of italic text */
@font-face {
  font-family: "Open Sans";
  src: url("#{$font-assets-path}/opensans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roundabout";
  src: url("#{$font-assets-path}/roundabout-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "4pixel";
  src:
    url("#{$font-assets-path}/4pixel.woff") format("woff"),
    url("#{$font-assets-path}/4pixel.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
