@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/opensans-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roundabout";
  src: url("/assets/fonts/roundabout-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "4pixel";
  src:
    url("/assets/fonts/4pixel.woff") format("woff"),
    url("/assets/fonts/4pixel.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
